{% extends "frontstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content %}

{% set temp_jpg = 'img/' ~ data.電影名稱 ~ '.jpg' %}
{% set temp_jpeg = 'img/' ~ data.電影名稱 ~ '.jpeg' %}
{% set temp_jpeg = 'img/' ~ data.電影名稱 ~ '.jpeg' %}
<br/>
<div class="row">
<div class="card" style="width: 20rem;margin-left:5%">
  <img src="{{ url_for('static', filename=temp_jpg) }}" 
     onerror="this.src='{{ url_for('static', filename=temp_jpeg) }}'" 
     class="card-img-top" 
     alt="{{ data.電影名稱 }}">
  <div class="card-body">
    <h5 class="card-title">{{ data.電影名稱 }}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>分級</b>&nbsp;&nbsp;{{ data.分級 }}</li>
    <li class="list-group-item"><b>演員名單</b>&nbsp;&nbsp;{{ data.演員 }}</li>
    <li class="list-group-item"><b>片長</b>&nbsp;&nbsp;{{ data.片長 }}&nbsp;<b>分鐘</b></li>
  </ul>
  <div class="card-body">
    <a href="{{ url_for('bookstore.bookstore') }}" class="btn btn-outline-primary">回商品列表</a>
  </div>
</div>


<div class="col-sm-6">
  <form method="post" action={{ url_for('bookstore.cart') }}>
<div class="card" style="margin-top:10%">
  <h5 class="card-header">電影介紹</h5>
  <div class="card-body">
    <p class="card-text">
      {{data.電影介紹}}
    </p>
    <button class="btn btn-outline-success" type="submit" value="{{data.電影編號}}" name="movie_id">前往訂票</button>
  </div>
</div>
</form>
</div>


</div>


{% endblock content%}